* {
  padding: 0;
  margin: 0;
}
.container {
  margin-top: 15vh !important;
  background: rgba(147, 189, 198, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.col {
  margin-top: 1em;
}

::placeholder {
  color: rgb(20, 19, 19) !important;
  /* opacity: 0.1; */
  font-weight: bolder;
}
.form-control {
  background-color: transparent;
  border: 1px solid rgb(15, 15, 15);
}
body {
  background-image: url("bg-img.jpg");
  background-size: cover;
  /* background-position: auto auto;  */
  background-repeat: no-repeat;
  /* background-color: antiquewhite; */
}
